{% extends 'base.html' %}

{% block title %}
    Project Description page
{% endblock %}

{% block content %}
    <div class="container text-center" style="margin-top: 10%;">
        <h3>
            This is a project that is showcasing my skills in various Web development requirements.
            I am using Flask to make the application, along with built-in Flask features like: Jinja, 
            SQLAlchemy, Bcrypt, LoginManager and others.<br>
            For templates I am using classic HTML, CSS and Bootstrap coding which may not be very colorful, but it gets the job done.
            <br>I am also providing some forms that can be filled, while form validation I implemented responds to that filled data and informs the user if it is successful or not.
            <br><br>I hope this web application shows that I have the skills neccessary for being a web app developer.   
        </h3>
    </div>
{% endblock %}